:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.onBackground {
  border-radius: 1rem;
  padding: 2rem;
  background-color: green;
}

.infoContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#mainDiv {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b5b5b5;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: green;
  border: 1px solid #000000;
}
